<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIx9TcBbjieS1ZesoO3jKZoWYp9-0CrW8</string>
	<key>GCM_SENDER_ID</key>
	<string>215054408557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.echovision.app</string>
	<key>PROJECT_ID</key>
	<string>eco-vision-5c50f</string>
	<key>STORAGE_BUCKET</key>
	<string>eco-vision-5c50f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215054408557:ios:9470f50ef325a911799864</string>
</dict>
</plist>